#page-landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(330deg, #29b6d1 0%, #00c7c7 100%);
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1100px;
    max-height: 580px;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: url("../../assets/landing.svg") no-repeat 80% center / 40%;
}
.popup-menu {
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
    padding: 10px 0;
    
}
.popup-content .popup-arrow {
    display: none
}
.popup-menu .popup-menu-link {
    display: flex;
    justify-content: space-between;
    outline: none;
    align-items: center;
    border-bottom: 1px solid #ffffff5f;
    color: #ffffff;
    padding: 0 5px;

}
#page-landing .content-wrapper main {
    max-width: 350px;
}
#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}   

.content-wrapper .location {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    font-size: 24px;
    line-height: 34px;
    flex-direction: column;
    text-align: right;
}

.content-wrapper .location strong {
    font-weight: 900;
}

.content-wrapper .enter-app {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}
.content-wrapper .enter-app:hover {
    background-color: #96feff;
}
