#page-landing {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(330deg, #29b6d1 0%, #00c7c7 100%);
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1100px;
    max-height: 580px;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: url("../../assets/landing.svg") no-repeat 80% center / 40%;
}
#page-landing .content-wrapper main {
    max-width: 350px;
}
#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    display: flex;
    font-size: 24px;
    text-align: right;
    gap: 5px;
    align-items: center;
}
.content-wrapper .location strong {
    font-weight: 900;
}

#page-landing .content-wrapper .restrict-access {
    background-color: #12d4e0;
    padding: 15px 40px;
    border-radius: 20px;
    transition: 0.3s;
    color: #fff;
    box-shadow: 1px 1px 10px #ffffff0f;
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
}

#page-landing .content-wrapper .restrict-access:hover {
    background-color: #96feff;
    color: #15c3d6;
}

.content-wrapper .enter-app {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}
.content-wrapper .enter-app:hover {
    background-color: #96feff;
}
