#dashboard-orphanages {
    background: #ebf2f5;
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    padding: 30px 60px;
    justify-items: center;
    row-gap: 20px;
}
#dashboard-orphanages .orphanages {
    margin-top: 40px;
    height: 350px;
    width: 550px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 1px solid #dde3f0;
}
#dashboard-orphanages .orphanage-map {
    height: 75%;
    width: 100%;
    border-radius: 20px;
}
#dashboard-orphanages .orphanage-actions {
    background-color: white;
    display: flex;
    flex: 1;
    border-radius: 0 0 20px 20px;
    color: #4d6f80;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 10px 30px;
}
#dashboard-orphanages .orphanage-actions .actions {
    display: flex;
    gap: 10px;
    align-items: center;
}
#dashboard-orphanages .orphanage-actions .actions button,
#dashboard-orphanages .orphanage-actions .actions a {
    background-color: #ebf2f5;
    padding: 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}
#dashboard-orphanages .orphanages .orphanage-map {
    position: relative;
}
#dashboard-orphanages .orphanages .orphanage-map .skeleton {
    max-width: 90%;
    margin: 5px 30px;
}
#dashboard-orphanages .orphanages .orphanage-map .skeleton:first-child {
    margin-top: 40px;
}
/* 
#dashboard-orphanages {
    background: #ebf2f5;
    min-height: calc(100vh - 80px);
}
#dashboard-orphanages main {
    padding: 60px;
    padding-top: 40px;
    max-width: 1100px;
    margin: 0 auto;
}
#dashboard-orphanages main span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
#dashboard-orphanages main span small {
    color: #16202c;
}
#dashboard-orphanages main span a {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd666;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}
#dashboard-orphanages main ul li {
    list-style: none;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px 40px;
    color: #16202c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
}
#dashboard-orphanages main ul li img {
    max-height: 70px;
    border-radius: 10px;
    border: 2px solid #aaa;
}

#dashboard-orphanages main ul li h4 {
    font-size: 24px;
    font-weight: normal;
}
#dashboard-orphanages main ul li svg {
    cursor: pointer;
}

/* popup */
/* popup */
/* popup */
/* popup */
/* popup */
/* popup */
/* popup */

/* dark mode  */
/* dark mode  */
/* dark mode  */
/* dark mode  */
/* dark mode  */
/* dark mode  */
/* dark mode  */

#dashboard-orphanages.dark {
    background-color: #16202c;
}
#dashboard-orphanages.dark main span small {
    color: #d5e0e6;
}
#dashboard-orphanages.dark main span a {
    background-color: #d5e0e6;
}
#dashboard-orphanages.dark main ul li {
    background-color: #192734;
    color: #d5e0e6;
    border: 2px solid #0000005f;
}
#dashboard-orphanages.dark .orphanages .orphanage-map .skeleton {
    background-color: #16202c;
    background-image: linear-gradient(
        90deg,
        #0000000f,
        #0000003f,
        #0000005f
    );
    background-size: 200px 100%;
}

#dashboard-orphanages.dark .orphanages {
    background-color: #192734;
    border: 1px solid #16202c;
    box-shadow: 1px 1px 5px #0000003f;
}

#dashboard-orphanages.dark .orphanage-actions {
    background-color: #192734;
    color: #dde3f0;
}

#dashboard-orphanages.dark .orphanage-actions .actions button,
#dashboard-orphanages.dark .orphanage-actions .actions a {
    background-color: #16202c;
}

/* delete component */
/* delete component */
/* delete component */
/* delete component */
/* delete component */
/* delete component */

#dashboard-delete {
    width: 100vw;
    height: 100vh;
    background-color: #ff669d;
}

#dashboard-delete main {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

#dashboard-delete main section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
#dashboard-delete main section button {
    border: 0;
    background: none;
    cursor: pointer;
}
#dashboard-delete main section h1 {
    font-size: 76px;
    color: #fff;
}
#dashboard-delete main section p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
#dashboard-delete main section p + button {
    border: 0;
    background-color: #d6487b;
    padding: 20px 40px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
